# Python语言基础

## 1 Python数据类型

### 1.1 字符串

在Python中用引号引起来的字符集称之为字符串，比如：'hello'、"my Python"、"2+3"等都是字符串
Python中字符串中使用的引号可以是单引号、双引号跟三引号

In [ ]:
print('hello world!')

hello world!

In [2]:
c = 'It is a "dog"!'
print(c)

It is a "dog"!

In [3]:
c1= "It's a dog!"
print(c1)

It's a dog!

In [4]:
c2 = """hello
world
!"""
print(c2)

hello
world
!

- 转义字符'\'

转义字符\可以转义很多字符，比如\n表示换行，\t表示制表符，字符\本身也要转义，所以\\表示的字符就是\

In [5]:
print('It\'s a dog!')
print("hello world!\nhello Python!")
print('\\\t\\')

It's a dog!
hello world!
hello Python!
\	\

原样输出引号内字符串可以使用在引号前加r

In [6]:
print(r'\\\t\\')

\\\t\\

- 子字符串及运算

In [7]:
s = 'Python'
print('Py' in s)

True

取子字符串有两种方法，使用[]索引或者切片运算法[:]，这两个方法使用面非常广

In [8]:
print(s[2])

t

In [9]:
print(s[1:4])

yth

- 字符串连接与格式化输出

In [10]:
word1 = '"hello"'
word2 = '"world"'
sentence = word1.strip('"') + ' ' + word2.strip('"') + '!'

print('The first word is %s, and the second word is %s' %(word1, word2))
print(sentence)

The first word is "hello", and the second word is "world"
hello world!

### 1.2 整数与浮点数

Python可以处理任意大小的整数，当然包括负整数，在程序中的表示方法和数学上的写法一模一样

In [11]:
i = 7
print(i)

7

In [12]:
7 + 3

10

In [13]:
7 - 3

4

In [14]:
7 * 3

21

In [15]:
7 ** 3

343

In [16]:
7 / 3

2.3333333333333335

In [17]:
7 % 3

1

浮点数

In [18]:
7.0 / 3

2.3333333333333335

In [19]:
3.14 * 10 ** 2

314.0

其它表示方法

In [20]:
0b1111

15

In [21]:
0xff

255

In [22]:
1.2e-5

1.2e-05

更多运算

In [23]:
import math

print(math.log(math.e)) # 更多运算可查阅文档

1.0

### 1.3 布尔值

In [24]:
True

True

In [25]:
False

False

In [26]:
True and False

False

In [27]:
True or False

True

In [28]:
not True

False

In [29]:
True + False

1

In [30]:
18 >= 6 * 3 and 'py' in 'Python'

False

### 1.4 日期时间

In [31]:
import time

now = time.strptime('2016-07-20', '%Y-%m-%d')
print(now)

time.struct_time(tm_year=2016, tm_mon=7, tm_mday=20, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=2, tm_yday=202, tm_isdst=-1)

In [32]:
time.strftime('%Y-%m-%d', now)

'2016-07-20'

In [33]:
import datetime

someDay = datetime.date(1999,2,10)
anotherDay = datetime.date(1999,2,15)
deltaDay = anotherDay - someDay
deltaDay.days

5

### 1.5其它

空值none

In [34]:
print(None)

None

复数complex

In [35]:
cplx = (4 + 2j) * (3 + 0.2j)
print(cplx)

(11.6+6.8j)

- 查看变量类型

In [36]:
type(None)

NoneType

In [37]:
type(s)

str

In [38]:
type(cplx)

complex

- 类型转换

In [39]:
str(10086)

'10086'

In [40]:
float(10086)

10086.0

In [41]:
int('10086')

10086

In [42]:
complex(10086)

(10086+0j)

## 2 Python数据结构

列表（list）、元组（tuple）、集合（set）、字典（dict）

### 2.1 列表(list)

用来存储一连串元素的容器，列表用[]来表示，其中元素的类型可不相同。

In [43]:
students = ["ming", "hua", "li", "juan", "yun", 3]
print(students)

['ming', 'hua', 'li', 'juan', 'yun', 3]

列表索引和切片

In [44]:
# 索引从0开始，含左不含右
print('[4]=', students[4])
print('[-4]=', students[-4])
print('[0:4]=', students[0:4])
print ('[4:]=', students[4:])
print ('[0:4:2]=', students[0:4:2])
print ('[-5:-1:]=', students[-5:-1:])
print ('[-2::-1]=', students[-2::-1])

[4]= yun
[-4]= li
[0:4]= ['ming', 'hua', 'li', 'juan']
[4:]= ['yun', 3]
[0:4:2]= ['ming', 'li']
[-5:-1:]= ['hua', 'li', 'juan', 'yun']
[-2::-1]= ['yun', 'juan', 'li', 'hua', 'ming']

修改列表

In [45]:
students[3] = "小月"
print(students[3])

students[5]="小楠"
print(students[5])

students[5]=19978
print(students[5])

小月
小楠
19978

插入元素

In [46]:
students.append('han') # 添加到尾部
students.extend(['long', 'wan'])
print(students)

['ming', 'hua', 'li', '小月', 'yun', 19978, 'han', 'long', 'wan']

In [47]:
scores = [90, 80, 75, 66]
students.insert(1, scores) # 添加到指定位置
students

['ming',
 [90, 80, 75, 66],
 'hua',
 'li',
 '小月',
 'yun',
 19978,
 'han',
 'long',
 'wan']

删除元素

In [48]:
print(students.pop(1)) # 该函数返回被弹出的元素，不传入参数则删除最后一个元素
print(students)

[90, 80, 75, 66]
['ming', 'hua', 'li', '小月', 'yun', 19978, 'han', 'long', 'wan']

判断元素是否在列表中等

In [49]:
print('wan' in students)
print('han' not in students)

True
False

In [50]:
students.count('wan')

1

In [51]:
students.index('wan')

8

range函数生成整数列表

In [52]:
print(range(10))
print(range(-5, 5))
print(range(-10, 10, 2))
print(range(16, 10, -1))

range(0, 10)
range(-5, 5)
range(-10, 10, 2)
range(16, 10, -1)

### 2.2 元组(tuple)

元组类似列表，元组里面的元素也是进行索引计算。列表里面的元素的值可以修改，而元组里面的元素的值不能修改，只能读取。元组的符号是()。

In [53]:
studentsTuple = ("ming", "jun", "qiang", "wu", scores)
studentsTuple

('ming', 'jun', 'qiang', 'wu', [90, 80, 75, 66])

In [54]:
try:
    studentsTuple[1] = 'fu'
except TypeError:
    print('TypeError')

TypeError

In [55]:
scores[1]= 100
studentsTuple

('ming', 'jun', 'qiang', 'wu', [90, 100, 75, 66])

In [56]:
'ming' in studentsTuple

True

In [57]:
studentsTuple[0:4]

('ming', 'jun', 'qiang', 'wu')

In [58]:
studentsTuple.count('ming')

1

In [59]:
studentsTuple.index('jun')

1

In [60]:
len(studentsTuple)

5

### 2.3 集合(set)

Python中集合主要有两个功能，一个功能是进行集合操作，另一个功能是消除重复元素。 集合的格式是：set()，其中()内可以是列表、字典或字符串，因为字符串是以列表的形式存储的

In [61]:
studentsSet = set(students)
print(studentsSet)

{'li', 'wan', 'yun', 'long', '小月', 19978, 'hua', 'ming', 'han'}

In [62]:
studentsSet.add('xu')
print(studentsSet)

{'li', 'wan', 'yun', 'long', '小月', 19978, 'xu', 'hua', 'ming', 'han'}

In [63]:
studentsSet.remove('xu')
print(studentsSet)

{'li', 'wan', 'yun', 'long', '小月', 19978, 'hua', 'ming', 'han'}

In [64]:
a = set("abcnmaaaaggsng")
print('a=', a)
b = set("cdfm")
print('b=', b)

#交集
x = a & b 
print('x=', x)
#并集
y = a | b
print('y=', y)
#差集
z = a - b
print('z=', z)
#去除重复元素
new = set(a)
print(z)

a= {'b', 'n', 's', 'a', 'c', 'm', 'g'}
b= {'f', 'c', 'm', 'd'}
x= {'c', 'm'}
y= {'b', 'f', 'd', 'n', 's', 'a', 'c', 'm', 'g'}
z= {'b', 'n', 's', 'a', 'g'}
{'b', 'n', 's', 'a', 'g'}

### 2.4字典(dict)

Python中的字典dict也叫做关联数组，用大括号{}括起来，在其他语言中也称为map，使用键-值（key-value）存储，具有极快的查找速度，其中key不能重复。

In [65]:
k = {"name":"weiwei", "home":"guilin"}
print(k["home"])

guilin

In [66]:
print(k.keys()) # It's iterable
print(k.values())

dict_keys(['home', 'name'])
dict_values(['guilin', 'weiwei'])

添加、修改字典里面的项目

In [67]:
k["like"] = "music"
k['name'] = 'guangzhou'
print(k)

{'like': 'music', 'home': 'guilin', 'name': 'guangzhou'}

判断key是否存在

In [68]:
print('name' in k)

True

In [69]:
k.get('edu', -1) # 通过dict提供的get方法，如果key不存在，可以返回None，或者自己指定的value

-1

删除key-value元素

In [70]:
k.pop('like')
print(k)

{'home': 'guilin', 'name': 'guangzhou'}

### 2.5 列表、元组、集合、字典的互相转换

In [71]:
tuple(students)

('ming', 'hua', 'li', '小月', 'yun', 19978, 'han', 'long', 'wan')

In [72]:
list(k)

['home', 'name']

In [73]:
zl = zip(('A', 'B', 'C'), [1, 2, 3, 4]) # zip可以将列表、元组、集合、字典‘缝合’起来
print(zl)
print(dict(zl))

<zip object at 0x0000000004B00CC8>
{'C': 3, 'A': 1, 'B': 2}

*练习：小明的语文成绩是80分，数学成绩是70分，小红两门课的成绩则分别是90分和95分，尝试生成一个嵌套字典，可用于方便的查找分数

## 3 Python控制流

在Python中通常的情况下程序的执行是从上往下执行的，而某些时候我们为了改变程序的执行顺序，使用控制流语句控制程序执行方式。Python中有三种控制流类型：顺序结构、分支结构、循环结构。

另外，Python可以使用分号";"分隔语句，但一般是使用换行来分隔；语句块不用大括号"{}"，而使用缩进（可以使用四个空格）来表示

### 3.1 顺序结构

In [74]:
s = '7'; num = int(s) # 一般不使用这种分隔方式
num -= 1 # num = num - 1
num *= 6 # num = num * 1
print(num)

36

### 3.2 分支结构：Python中if语句是用来判断选择执行哪个语句块的

if <True or Flase表达式>:
    执行语句块
elif <True or Flase表达式>：
    执行语句块
else：        # 都不满足
    执行语句块
    
# elif子句可以有多条，elif和else部分可省略

In [75]:
salary = 30000
if salary > 10000:
    print("Wow!!!!!!!")
elif salary > 5000:
    print("That's OK.")
elif salary > 3000:
    print("5555555555")
else:
    print("..........")

Wow!!!!!!!

### 3.3 循环结构

while 循环

while <True or Flase表达式>:
    循环执行语句块
else：          # 不满足条件
    执行语句块

#else部分可以省略

In [76]:
a = 1
while a < 10:
    if a <= 5:
        print(a)
    else:
        print("Hello")
    a = a + 1
else:
    print("Done")

1
2
3
4
5
Hello
Hello
Hello
Hello
Done

- for 循环

for (条件变量) in (集合)：
    执行语句块
    
# “集合”并不单指set，而是“形似”集合的列表、元组、字典、数组都可以进行循环
# 条件变量可以有多个

In [77]:
heights = {'Shaq':216, 'AI':185, 'Yao':226}

for key, value in heights.items():
    print(key, value)

Yao 226
AI 185
Shaq 216

In [78]:
total = 0
for i in range(1, 101):
    total += i
print(total)

5050

*** 练习：使用循环和分支结构输出20以内的奇数

### 3.4 break、continue和pass

break:跳出循环
continue:跳出当前循环
pass:占位符，什么也不做

In [79]:
for i in range(1, 5):
    if i == 3:
        break
    print(i)

1
2

In [80]:
for i in range(1, 5):
    if i == 3:
        continue
    print(i)

1
2
4

In [81]:
for i in range(1, 5):
    if i == 3:
        pass
    print(i)

1
2
3
4

### 3.5 列表生成式

三种形式
- [<表达式> for (条件变量) in (集合)]
- [<表达式> for (条件变量) in (集合) if <'True or False'表达式>]
- [<表达式> if <'True or False'表达式> else <表达式>  for (条件变量) in (集合) ]

In [82]:
fruits = ['"Apple', 'Watermelon', '"Banana"']
[x.strip('"') for x in fruits]

['Apple', 'Watermelon', 'Banana']

In [83]:
[x ** 2 for x in range(21) if x%2]

[1, 9, 25, 49, 81, 121, 169, 225, 289, 361]

*练习：使用列表生成式生成一个布尔值列表，每个布尔值对应判断 range(21)中的每个元素是否是奇数。* 提示：if-else语句在for循环语句之前

In [84]:
[m + n for m in 'ABC' for n in 'XYZ']

['AX', 'AY', 'AZ', 'BX', 'BY', 'BZ', 'CX', 'CY', 'CZ']

In [85]:
d = {'x': 'A', 'y': 'B', 'z': 'C' }
[k + '=' + v for k, v in d.items()]

['y=B', 'z=C', 'x=A']

## 4 Python函数

函数是用来封装特定功能的实体，可对不同类型和结构的数据进行操作，达到预定目标

### 4.1 调用函数

- Python内置了很多有用的函数，我们可以直接调用，进行数据分析时多数情况下是通过调用定义好的函数来操作数据的

In [86]:
str1 = "as"
int1 = -9
print(len(str1))
print(abs(int1))

2
9

In [87]:
fruits = ['Apple', 'Banana', 'Melon']
fruits.append('Grape')
print(fruits)

['Apple', 'Banana', 'Melon', 'Grape']

### 4.2 定义函数

当系统自带函数不足以完成指定的功能时，需要用户自定义函数来完成。

def 函数名()：
    函数内容
    函数内容
    <return 返回值>

In [88]:
def my_abs(x):
    if x >= 0:
        return x
    else:
        return -x
    
my_abs(-9)

9

可以没有return

In [89]:
def filter_fruit(someList, d):
    for i in someList:
        if i == d:
            someList.remove(i)
        else:
            pass

print(filter_fruit(fruits, 'Melon'))
print(fruits)

None
['Apple', 'Banana', 'Grape']

多个返回值的情况

In [90]:
def test(i, j):
    k = i * j
    return i, j, k

a , b , c = test(4, 5)
print(a, b , c)
type(test(4, 5))

4 5 20

tuple

### 4.3 高阶函数

- 把另一个函数作为参数传入一个函数，这样的函数称为高阶函数

函数本身也可以赋值给变量，函数与其它对象具有同等地位

In [91]:
myFunction = abs
myFunction(-9)

9

- 参数传入函数

In [92]:
def myadd(x, y, f):
    return f(x) + f(y)

myadd(7, -5, myFunction)

12

- 常用高阶函数

map/reduce: map将传入的函数依次作用到序列的每个元素，并把结果作为新的list返回；reduce把一个函数作用在一个序列[x1, x2, x3...]上，这个函数必须接收两个参数，reduce把结果继续和序列的下一个元素做累积计算

In [93]:
myList = [-1, 2, -3, 4, -5, 6, 7]
map(abs, myList)

In [94]:
from functools import reduce

def powerAdd(a, b):
    return pow(a, 2) + pow(b, 2)

reduce(powerAdd, myList) # 是否是计算平方和？

3560020598205630145296938

filter： filter()把传入的函数依次作用于每个元素，然后根据返回值是True还是False决定保留还是丢弃该元素

In [95]:
def is_odd(x):
    return x % 3  # 0被判断为False，其它被判断为True

list(filter(is_odd, myList))

[-1, 2, 4, -5, 7]

sorted: 实现对序列排序，默认情况下对于两个元素x和y，如果认为x < y，则返回-1，如果认为x == y，则返回0，如果认为x > y，则返回1

默认排序：数字大小或字母序（针对字符串）

In [96]:
sorted(myList)  # It's not equal to myList.sort()

[-5, -3, -1, 2, 4, 6, 7]

自定义排序规则

In [97]:
from functools import cmp_to_key

def reversed_cmp(x, y):
    # It's an old comparison function, worked in python2
    if x > y:
        return -1
    if x < y:
        return 1
    return 0  # Equal to return y - x    
    
keyFunc = cmp_to_key(reversed_cmp)  # Wrap the old comparison function to a key function,worked in python3
sorted(myList, key=keyFunc)

[7, 6, 4, 2, -1, -3, -5]

In [98]:
myList

[-1, 2, -3, 4, -5, 6, 7]

*练习：将列表中字符串忽略大小写地按字母序排列，列表为['Apple', 'orange', 'Peach', 'banana']。提示:字母转换为大写的方法为str.upper()，转换为小写使用str.lower()

In [99]:
a = ['Apple', 'orange', 'Peach', 'banana']

sorted(a, key=str.upper)

['Apple', 'banana', 'orange', 'Peach']

- 返回函数: 高阶函数除了可以接受函数作为参数外，还可以把函数作为结果值返回

In [100]:
def powAdd(x, y):
    def power(n):
        return pow(x, n) + pow(y, n)
    return power

myF = powAdd(3, 4)
myF

In [101]:
myF(2)

25

- 匿名函数：高阶函数传入函数时，不需要显式地定义函数，直接传入匿名函数更方便

In [102]:
f = lambda x: x * x
f(4)

16

等同于：

In [103]:
def f(x):
    return x * x

In [104]:
map(lambda x: x * x, myList)

匿名函数可以传入多个参数

In [105]:
from functools import reduce

reduce(lambda x, y: x + y, map(lambda x: x * x, myList))

140

返回函数可以是匿名函数

In [106]:
def powAdd1(x, y):
    return lambda n: pow(x, n) + pow(y, n)

lamb = powAdd1(3, 4)
lamb(2)

25

## 5 Python模块

模块是可以实现一项或多项功能的程序块，Python本身就内置了很多非常有用的模块，只要安装完毕，这些模块就可以立刻使用

In [107]:
import os

os.getcwd()

'E:\\近期课程\\新课程\\陕西移动\\1105-1106\\data&code'

In [108]:
os.chdir('D:/tmpdir')

可以通过安装第三方包来增加系统功能，也可以自己编写模块。引入模块有多种方式

In [109]:
import pandas as pd

df = pd.DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'a', 'b'], 'data1': range(7)})
df.head(2)

   data1 key
0      0   b
1      1   b

In [110]:
from pandas import DataFrame

df1 = DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'a', 'b'], 'data1': range(7)})
df1.head(5)

   data1 key
0      0   b
1      1   b
2      2   a
3      3   c
4      4   a

In [111]:
# 尽量不使用 'from ... import *' 这种方式，可能造成命名混乱
from pandas import *

df2 = DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'a', 'b'], 'data1': range(7)})
crosstab(df2.key, df2.data1)

data1  0  1  2  3  4  5  6
key
a      0  0  1  0  1  1  0
b      1  1  0  0  0  0  1
c      0  0  0  1  0  0  0

## 6 使用pandas读写数据

- pandas可以读取文本文件、json、数据库、Excel等文件
- 使用read_csv方法读取以逗号分隔的文本文件作为DataFrame，其它还有类似read_table, read_excel, read_html, read_sql等等方法

In [112]:
accepts = pd.read_csv('accepts.csv')
accepts.head()

,application_id,account_number,bad_ind,vehicle_year,vehicle_make,bankruptcy_ind,tot_derog,tot_tr,age_oldest_tr,tot_open_tr,...,purch_price,msrp,down_pyt,loan_term,loan_amt,ltv,tot_income,veh_mileage,used_ind,weight
0,2314049,11613,1,1998.0,FORD,N,7.0,9.0,64.0,2.0,...,17200.00,17350.0,0.00,36,17200.00,99.0,6550.00,24000.0,1,1.00
1,63539,13449,0,2000.0,DAEWOO,N,0.0,21.0,240.0,11.0,...,19588.54,19788.0,683.54,60,19588.54,99.0,4666.67,22.0,0,4.75
2,7328510,14323,1,1998.0,PLYMOUTH,N,7.0,10.0,60.0,NaN,...,13595.00,11450.0,0.00,60,10500.00,92.0,2000.00,19600.0,1,1.00
3,8725187,15359,1,1997.0,FORD,N,3.0,10.0,35.0,5.0,...,12999.00,12100.0,3099.00,60,10800.00,118.0,1500.00,10000.0,1,1.00
4,4275127,15812,0,2000.0,TOYOTA,N,0.0,10.0,104.0,2.0,...,26328.04,22024.0,0.00,60,26328.04,122.0,4144.00,14.0,0,4.75

In [113]:
hsb2 = pd.read_table('hsb2.txt')
hsb2.head()

    id  female  race  ses  schtyp  prog  read  write  math  science  socst
0   70       0     4    1       1     1    57     52    41       47     57
1  121       1     4    2       1     3    68     59    53       63     61
2   86       0     4    3       1     1    44     33    54       58     31
3  141       0     4    3       1     3    63     44    47       53     56
4  172       0     4    2       1     2    47     52    57       53     61

先安装html5lib   >> pip install html5lib

In [114]:
# html = pd.read_html('http://www.fdic.gov/bank/individual/failed/banklist.html') # Return a list
html = pd.read_html('https://en.wikipedia.org/wiki/Mobile_country_code') # Return a list
html[1]

,0,1,2,3,4,5,6
0,MCC,MNC,Brand,Operator,Status,Bands (MHz),References and notes
1,001,01,TEST,Test Network,Operational,any,NaN
2,001,001,TEST,Test Network,Operational,any,NaN
3,999,99,NaN,Internal use,Operational,any,"Internal use in private networks, no roaming[3]"
4,999,999,NaN,Internal use,Operational,any,"Internal use in private networks, no roaming[3]"

In [115]:
xls = pd.read_excel('hsb2.xlsx', sheet_name=0)
xls.head()

    id  female  race  ses  schtyp  prog  read  write  math  science  socst
0   70       0     4    1       1     1    57     52    41       47     57
1  121       1     4    2       1     3    68     59    53       63     61
2   86       0     4    3       1     1    44     33    54       58     31
3  141       0     4    3       1     3    63     44    47       53     56
4  172       0     4    2       1     2    47     52    57       53     61

写入文件

In [116]:
xls.to_csv('copyofhsb2.csv')

## 其它

- 标识符第一个字符只能是字母或下划线，第一个字符不能出现数字或其他字符；标识符除第一个字符外，其他部分可以是字母或者下划线或者数字，标识符大小写敏感，比如name跟Name是不同的标识符。
- Python规范：类标识符每个字符第一个字母大写；对象\变量标识符的第一个字母小写，其余首字母大写，或使用下划线'_' 连接；函数命名同普通对象。建议

- 关键字

关键字是指系统中自带的具备特定含义的标识符

In [117]:
# 查看一下关键字有哪些，避免关键字做自定义标识符
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

- 注释

Python中的注释一般用#进行注释

In [118]:
# print 'hello world' # Do nothing

- 帮助

In [119]:
scores?

In [120]:
help(scores)

Help on list object:

class list(object)
 |  list() -> new empty list
 |  list(iterable) -> new list initialized from iterable's items
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.n
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      L.__reversed__() -- return a reverse iterator over the list
 |
 |  __rmul__(self, value, /)
 |      Return self*value.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(...)
 |      L.__sizeof__() -- size of L in memory, in bytes
 |
 |  append(...)
 |      L.append(object) -> None -- append object to end
 |
 |  clear(...)
 |      L.clear() -> None -- remove all items from L
 |
 |  copy(...)
 |      L.copy() -> list -- a shallow copy of L
 |
 |  count(...)
 |      L.count(value) -> integer -- return number of occurrences of value
 |
 |  extend(...)
 |      L.extend(iterable) -> None -- extend list by appending elements from the iterable
 |
 |  index(...)
 |      L.index(value, [start, [stop]]) -> integer -- return first index of value.
 |      Raises ValueError if the value is not present.
 |
 |  insert(...)
 |      L.insert(index, object) -- insert object before index
 |
 |  pop(...)
 |      L.pop([index]) -> item -- remove and return item at index (default last).
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(...)
 |      L.remove(value) -> None -- remove first occurrence of value.
 |      Raises ValueError if the value is not present.
 |
 |  reverse(...)
 |      L.reverse() -- reverse *IN PLACE*
 |
 |  sort(...)
 |      L.sort(key=None, reverse=False) -> None -- stable sort *IN PLACE*
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None