<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#步骤1-导入必要的库" data-toc-modified-id="步骤1-导入必要的库-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>步骤1 导入必要的库</a></span></li><li><span><a href="#步骤2-从如下地址导入数据集" data-toc-modified-id="步骤2-从如下地址导入数据集-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>步骤2 从如下地址导入数据集</a></span></li><li><span><a href="#步骤3-将数据集存入一个名为chipo的数据框内" data-toc-modified-id="步骤3-将数据集存入一个名为chipo的数据框内-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>步骤3 将数据集存入一个名为chipo的数据框内</a></span></li><li><span><a href="#步骤4-查看前10行内容" data-toc-modified-id="步骤4-查看前10行内容-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>步骤4 查看前10行内容</a></span></li><li><span><a href="#步骤6-数据集中有多少个列(columns)" data-toc-modified-id="步骤6-数据集中有多少个列(columns)-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>步骤6 数据集中有多少个列(columns)</a></span></li><li><span><a href="#步骤7-打印出全部的列名称" data-toc-modified-id="步骤7-打印出全部的列名称-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>步骤7 打印出全部的列名称</a></span></li><li><span><a href="#步骤8-数据集的索引是怎样的" data-toc-modified-id="步骤8-数据集的索引是怎样的-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>步骤8 数据集的索引是怎样的</a></span></li><li><span><a href="#步骤9-被下单数最多商品(item)是什么?" data-toc-modified-id="步骤9-被下单数最多商品(item)是什么?-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>步骤9 被下单数最多商品(item)是什么?</a></span></li><li><span><a href="#步骤10-在item_name这一列中，一共有多少种商品被下单？" data-toc-modified-id="步骤10-在item_name这一列中，一共有多少种商品被下单？-9"><span class="toc-item-num">9&nbsp;&nbsp;</span>步骤10 在item_name这一列中，一共有多少种商品被下单？</a></span></li><li><span><a href="#步骤11-在choice_description中，下单次数最多的商品是什么？" data-toc-modified-id="步骤11-在choice_description中，下单次数最多的商品是什么？-10"><span class="toc-item-num">10&nbsp;&nbsp;</span>步骤11 在choice_description中，下单次数最多的商品是什么？</a></span></li><li><span><a href="#步骤12-一共有多少商品被下单？" data-toc-modified-id="步骤12-一共有多少商品被下单？-11"><span class="toc-item-num">11&nbsp;&nbsp;</span>步骤12 一共有多少商品被下单？</a></span></li><li><span><a href="#步骤13-将item_price转换为浮点数" data-toc-modified-id="步骤13-将item_price转换为浮点数-12"><span class="toc-item-num">12&nbsp;&nbsp;</span>步骤13 将item_price转换为浮点数</a></span></li><li><span><a href="#步骤14-在该数据集对应的时期内，收入(revenue)是多少" data-toc-modified-id="步骤14-在该数据集对应的时期内，收入(revenue)是多少-13"><span class="toc-item-num">13&nbsp;&nbsp;</span>步骤14 在该数据集对应的时期内，收入(revenue)是多少</a></span></li><li><span><a href="#步骤15-在该数据集对应的时期内，一共有多少订单？" data-toc-modified-id="步骤15-在该数据集对应的时期内，一共有多少订单？-14"><span class="toc-item-num">14&nbsp;&nbsp;</span>步骤15 在该数据集对应的时期内，一共有多少订单？</a></span></li><li><span><a href="#步骤16-每一单(order)对应的平均总价是多少？" data-toc-modified-id="步骤16-每一单(order)对应的平均总价是多少？-15"><span class="toc-item-num">15&nbsp;&nbsp;</span>步骤16 每一单(order)对应的平均总价是多少？</a></span></li><li><span><a href="#步骤17-一共有多少种不同的商品被售出？" data-toc-modified-id="步骤17-一共有多少种不同的商品被售出？-16"><span class="toc-item-num">16&nbsp;&nbsp;</span>步骤17 一共有多少种不同的商品被售出？</a></span></li></ul></div>

### 步骤1 导入必要的库

In [1]:
import pandas as pd

### 步骤2 从如下地址导入数据集

In [2]:
path1 = "快餐数据.tsv"    # chipotle.tsv

### 步骤3 将数据集存入一个名为chipo的数据框内

In [3]:
chipo = pd.read_csv(path1, sep = '\t')

### 步骤4 查看前10行内容

In [4]:
chipo.shape

(4622, 5)

In [5]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4622 non-null object
dtypes: int64(2), object(3)
memory usage: 180.6+ KB

In [6]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### 步骤6 数据集中有多少个列(columns)

In [7]:
chipo.shape[1]

5

### 步骤7 打印出全部的列名称

In [8]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### 步骤8 数据集的索引是怎样的

In [9]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### 步骤9 被下单数最多商品(item)是什么?

In [10]:
c = chipo[['item_name', 'quantity']].groupby(['item_name'], as_index=False).sum()
c.sort_values(['quantity'], ascending=False, inplace=True)
c

                                item_name  quantity
17                           Chicken Bowl       761
18                        Chicken Burrito       591
25                    Chips and Guacamole       506
39                          Steak Burrito       386
10                      Canned Soft Drink       351
23                                  Chips       230
38                             Steak Bowl       221
6                           Bottled Water       211
24           Chips and Fresh Tomato Salsa       130
9                             Canned Soda       126
21                     Chicken Salad Bowl       123
22                     Chicken Soft Tacos       120
37                          Side of Chips       110
45                         Veggie Burrito        97
2                        Barbacoa Burrito        91
44                            Veggie Bowl        87
11                          Carnitas Bowl        71
1                           Barbacoa Bowl        66
12                       Carnitas Burrito        60
43                       Steak Soft Tacos        56
0                       6 Pack Soft Drink        55
30    Chips and Tomatillo Red Chili Salsa        50
19                   Chicken Crispy Tacos        50
29  Chips and Tomatillo Green Chili Salsa        45
16                    Carnitas Soft Tacos        40
40                     Steak Crispy Tacos        36
31  Chips and Tomatillo-Green Chili Salsa        33
42                       Steak Salad Bowl        31
35                       Nantucket Nectar        29
32    Chips and Tomatillo-Red Chili Salsa        25
5                     Barbacoa Soft Tacos        25
27     Chips and Roasted Chili Corn Salsa        23
34                                   Izze        20
48                      Veggie Salad Bowl        18
28     Chips and Roasted Chili-Corn Salsa        18
3                   Barbacoa Crispy Tacos        12
4                     Barbacoa Salad Bowl        10
20                          Chicken Salad         9
13                  Carnitas Crispy Tacos         8
49                      Veggie Soft Tacos         8
8                                 Burrito         6
47                           Veggie Salad         6
15                    Carnitas Salad Bowl         6
7                                    Bowl         4
41                            Steak Salad         4
36                                  Salad         2
33                           Crispy Tacos         2
26      Chips and Mild Fresh Tomato Salsa         1
14                         Carnitas Salad         1
46                    Veggie Crispy Tacos         1

In [11]:
c = chipo[['item_name','quantity']].groupby(['item_name'],as_index=False).agg({'quantity':sum})
c.sort_values(['quantity'],ascending=False,inplace=True)
c.head()

              item_name  quantity
17         Chicken Bowl       761
18      Chicken Burrito       591
25  Chips and Guacamole       506
39        Steak Burrito       386
10    Canned Soft Drink       351

### 步骤10 在item_name这一列中，一共有多少种商品被下单？

In [12]:
chipo['item_name'].nunique()

50

### 步骤11 在choice_description中，下单次数最多的商品是什么？

In [13]:
chipo['choice_description'].value_counts().head()

[Diet Coke]                                                                          134
[Coke]                                                                               123
[Sprite]                                                                              77
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Lettuce]]                42
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Guacamole, Lettuce]]     40
Name: choice_description, dtype: int64

### 步骤12 一共有多少商品被下单？

In [14]:
total_items_orders = chipo['quantity'].sum()
total_items_orders

4972

### 步骤13 将item_price转换为浮点数

In [15]:
dollarizer = lambda x: float(x[1:-1])
chipo['item_price'] = chipo['item_price'].apply(dollarizer)

### 步骤14 在该数据集对应的时期内，收入(revenue)是多少

In [16]:
chipo['sub_total'] = round(chipo['quantity'] * chipo['item_price'],2)
# chipo['sub_total'].sum()
chipo['sub_total'].sum()

39237.019999999997

### 步骤15 在该数据集对应的时期内，一共有多少订单？

In [17]:
chipo['order_id'].nunique()

1834

### 步骤16 每一单(order)对应的平均总价是多少？

In [ ]:
chipo[['order_id','sub_total']].groupby(by=['order_id']).sub_total.sum().mean()
).agg({'sub_total':'sum'})['sub_total'].mean()

In [18]:
chipo[['order_id','sub_total']].groupby(by=['order_id']
).agg({'sub_total':'sum'})['sub_total'].mean()

21.394231188658654

### 步骤17 一共有多少种不同的商品被售出？

In [19]:
chipo['item_name'].nunique()

50