<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Series" data-toc-modified-id="Series-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Series</a></span><ul class="toc-item"><li><span><a href="#手动构建Series" data-toc-modified-id="手动构建Series-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>手动构建Series</a></span></li><li><span><a href="#Series的切片和索引" data-toc-modified-id="Series的切片和索引-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Series的切片和索引</a></span></li><li><span><a href="#掩码提取数据" data-toc-modified-id="掩码提取数据-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>掩码提取数据</a></span></li><li><span><a href="#广播的方法进行计算" data-toc-modified-id="广播的方法进行计算-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>广播的方法进行计算</a></span></li></ul></li><li><span><a href="#DataFrame" data-toc-modified-id="DataFrame-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>DataFrame</a></span><ul class="toc-item"><li><span><a href="#DataFrame的创建" data-toc-modified-id="DataFrame的创建-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>DataFrame的创建</a></span></li><li><span><a href="#进行索引和切片" data-toc-modified-id="进行索引和切片-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>进行索引和切片</a></span></li><li><span><a href="#新增/删除列" data-toc-modified-id="新增/删除列-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>新增/删除列</a></span><ul class="toc-item"><li><span><a href="#删除某一列" data-toc-modified-id="删除某一列-2.3.1"><span class="toc-item-num">2.3.1&nbsp;&nbsp;</span>删除某一列</a></span></li><li><span><a href="#添加一列" data-toc-modified-id="添加一列-2.3.2"><span class="toc-item-num">2.3.2&nbsp;&nbsp;</span>添加一列</a></span></li></ul></li><li><span><a href="#查看基本信息" data-toc-modified-id="查看基本信息-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>查看基本信息</a></span></li><li><span><a href="#查看前几条信息" data-toc-modified-id="查看前几条信息-2.5"><span class="toc-item-num">2.5&nbsp;&nbsp;</span>查看前几条信息</a></span></li><li><span><a href="#查看数据形状" data-toc-modified-id="查看数据形状-2.6"><span class="toc-item-num">2.6&nbsp;&nbsp;</span>查看数据形状</a></span></li><li><span><a href="#转置" data-toc-modified-id="转置-2.7"><span class="toc-item-num">2.7&nbsp;&nbsp;</span>转置</a></span></li><li><span><a href="#获取数据原有信息" data-toc-modified-id="获取数据原有信息-2.8"><span class="toc-item-num">2.8&nbsp;&nbsp;</span>获取数据原有信息</a></span></li></ul></li><li><span><a href="#将数据保存到本地磁盘" data-toc-modified-id="将数据保存到本地磁盘-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>将数据保存到本地磁盘</a></span></li></ul></div>

In [2]:
# 导入相关库
import numpy as np
import pandas as pd

In [78]:
#全部行都能输出
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

## Series

Series 是一个带有 名称 和索引的一维数组，既然是数组，肯定要说到的就是数组中的元素类型，在 Series 中包含的数据类型可以是整数、浮点、字符串、Python对象等。

假定有一个场景是：存储一些用户的信息，暂时只包括年龄信息。

我们可以通过 Series 来存储，这里我们通过 Series 存储了四个年龄：18/30/25/40，只需将要存储的数据构建成一个数组，然后赋值给data参数即可。

### 手动构建Series

In [80]:
user_age = pd.Series(data=[22, 3000, 33, 37, 40, 1500])
user_age

0      22
1    3000
2      33
3      37
4      40
5    1500
dtype: int64

In [84]:
user_age.index = ['蜘蛛侠', '灭霸', '奇异博士', '钢铁侠', '蝙蝠侠', '索尔']
user_age['蜘蛛侠':'钢铁侠']
L=[True,False,True,False,True,True]

蜘蛛侠       22
灭霸      3000
奇异博士      33
钢铁侠       37
Name: 英雄年龄, dtype: int64

In [82]:
user_age.name = '英雄年龄'
user_age

蜘蛛侠       22
灭霸      3000
奇异博士      33
钢铁侠       37
蝙蝠侠       40
索尔      1500
Name: 英雄年龄, dtype: int64

In [7]:
type(user_age)

pandas.core.series.Series

In [8]:
user_age.index.name = '英雄姓名'
user_age

英雄姓名
蜘蛛侠       22
灭霸      3000
奇异博士      33
钢铁侠       37
蝙蝠侠       40
索尔      1500
Name: 英雄年龄, dtype: int64

综上所述,  一个Series包括了data, index以及name

下面我们通过另外一种方式创建一个Series

In [9]:
index = pd.Index(['蜘蛛侠', '灭霸', '奇异博士', '钢铁侠','蝙蝠侠', '索尔' ], name="英雄姓名")
user_age = pd.Series(data=[22, 3000, 33, 37, 40, 1500], index=index, name="英雄年龄")
user_age

英雄姓名
蜘蛛侠       22
灭霸      3000
奇异博士      33
钢铁侠       37
蝙蝠侠       40
索尔      1500
Name: 英雄年龄, dtype: int64

### Series的切片和索引

In [10]:
user_age[0::2]

英雄姓名
蜘蛛侠     22
奇异博士    33
蝙蝠侠     40
Name: 英雄年龄, dtype: int64

In [11]:
user_age['蜘蛛侠':'奇异博士']

英雄姓名
蜘蛛侠       22
灭霸      3000
奇异博士      33
Name: 英雄年龄, dtype: int64

In [12]:
user_age.get('ddd', '没查找到')

'没查找到'

Series 和字典非常类似, 我们可以将index中的元素看成是key, 元素看成是value

两个有很多类似的操作

In [13]:
user_age["蜘蛛侠"]
user_age.get("蜘蛛侠")

22

22

In [14]:
user_age.get("闪电侠", '不存在')

'不存在'

Series 除了像 dict 外，也非常像 ndarray，这也就意味着可以采用切片操作。

In [15]:
user_age[0]

22

In [16]:
user_age[:3]

英雄姓名
蜘蛛侠       22
灭霸      3000
奇异博士      33
Name: 英雄年龄, dtype: int64

### 掩码提取数据

In [17]:
user_age[user_age < 40]

英雄姓名
蜘蛛侠     22
奇异博士    33
钢铁侠     37
Name: 英雄年龄, dtype: int64

In [18]:
user_age[user_age > 1000]

英雄姓名
灭霸    3000
索尔    1500
Name: 英雄年龄, dtype: int64

In [19]:
user_age

英雄姓名
蜘蛛侠       22
灭霸      3000
奇异博士      33
钢铁侠       37
蝙蝠侠       40
索尔      1500
Name: 英雄年龄, dtype: int64

In [20]:
user_age[(user_age>30) | (user_age % 2 == 0)]

英雄姓名
蜘蛛侠       22
灭霸      3000
奇异博士      33
钢铁侠       37
蝙蝠侠       40
索尔      1500
Name: 英雄年龄, dtype: int64

In [21]:
user_age

英雄姓名
蜘蛛侠       22
灭霸      3000
奇异博士      33
钢铁侠       37
蝙蝠侠       40
索尔      1500
Name: 英雄年龄, dtype: int64

In [22]:
user_age[['灭霸', '蜘蛛侠']]

英雄姓名
灭霸     3000
蜘蛛侠      22
Name: 英雄年龄, dtype: int64

In [23]:
user_age[[3, 1]]

英雄姓名
钢铁侠      37
灭霸     3000
Name: 英雄年龄, dtype: int64

因为Series底层封装的也ndarray数组结构, 因此同样支持向量化操作, 可以利用

### 广播的方法进行计算

In [24]:
user_age + 1

英雄姓名
蜘蛛侠       23
灭霸      3001
奇异博士      34
钢铁侠       38
蝙蝠侠       41
索尔      1501
Name: 英雄年龄, dtype: int64

In [25]:
user_age ** 2

英雄姓名
蜘蛛侠         484
灭霸      9000000
奇异博士       1089
钢铁侠        1369
蝙蝠侠        1600
索尔      2250000
Name: 英雄年龄, dtype: int64

In [26]:
np.log(user_age)

英雄姓名
蜘蛛侠     3.091042
灭霸      8.006368
奇异博士    3.496508
钢铁侠     3.610918
蝙蝠侠     3.688879
索尔      7.313220
Name: 英雄年龄, dtype: float64

In [27]:
np.exp(user_age)

D:\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: RuntimeWarning: overflow encountered in exp
  """Entry point for launching an IPython kernel.

英雄姓名
蜘蛛侠     3.584913e+09
灭霸               inf
奇异博士    2.146436e+14
钢铁侠     1.171914e+16
蝙蝠侠     2.353853e+17
索尔               inf
Name: 英雄年龄, dtype: float64

In [28]:
np.mean(user_age)

772.0

In [29]:
np.max(user_age)

3000

In [30]:
np.std(user_age)

1131.2705246756852

In [31]:
# 我们注意到原来的user_age并没有发生变化
user_age

英雄姓名
蜘蛛侠       22
灭霸      3000
奇异博士      33
钢铁侠       37
蝙蝠侠       40
索尔      1500
Name: 英雄年龄, dtype: int64

## DataFrame

DataFrame 是一个带有索引的二维数据结构，每列可以有自己的名字，并且可以有不同的数据类型。你可以把它想象成一个 excel 表格或者数据库中的一张表，DataFrame 是最常用的 Pandas 对象。

### DataFrame的创建

我们继续使用之前的数据来继续操作, 对于每一个英雄, 除了年龄之外, 还可以储存很多其他的数据
我们来换一种方法重新生成数据

In [32]:
index = pd.Index(data=['蜘蛛侠', '灭霸', '奇异博士', '钢铁侠','蝙蝠侠', '索尔' ], name="英雄姓名")

In [33]:
data = {
    "年龄":[19, 3000, 30, 37, 40, 1500], 
    "城市":["纽约皇后区", "泰坦星球","费城", "纽约", "哥谭",  "阿斯加德" ]
}

In [34]:
pd.Series([1, 2, 3])

0    1
1    2
2    3
dtype: int64

In [35]:
pd.DataFrame([[1, 2, 3], [4, 5, 6], [7, 8, 9]])

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [36]:
user_info = pd.DataFrame(data=data,index=index )

In [37]:
user_info

         城市    年龄
英雄姓名
蜘蛛侠   纽约皇后区    19
灭霸     泰坦星球  3000
奇异博士     费城    30
钢铁侠      纽约    37
蝙蝠侠      哥谭    40
索尔     阿斯加德  1500

In [38]:
user_info.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6 entries, 蜘蛛侠 to 索尔
Data columns (total 2 columns):
城市    6 non-null object
年龄    6 non-null int64
dtypes: int64(1), object(1)
memory usage: 144.0+ bytes

In [39]:
user_info

         城市    年龄
英雄姓名
蜘蛛侠   纽约皇后区    19
灭霸     泰坦星球  3000
奇异博士     费城    30
钢铁侠      纽约    37
蝙蝠侠      哥谭    40
索尔     阿斯加德  1500

In [40]:
user_info.describe()

                年龄
count     6.000000
mean    771.000000
std    1239.966451
min      19.000000
25%      31.750000
50%      38.500000
75%    1135.000000
max    3000.000000

In [41]:
user_info['城市'].describe()

count      6
unique     6
top       费城
freq       1
Name: 城市, dtype: object

除了上面这种传入 dict 的方式构建外，我们还可以通过另外一种方式来构建。这种方式是先构建一个二维数组，然后再生成一个列名称列表。

In [42]:
data = [[19, "纽约皇后区"], 
    [3000, "泰坦星球"], 
    [30, "费城"], 
    [37, "纽约"], 
    [40, "哥谭"], 
    [1500, "阿斯加德"]]
columns = ["年龄", "城市"]
user_info2 = pd.DataFrame(data=data, index=index, columns=columns)
user_info2

        年龄     城市
英雄姓名
蜘蛛侠     19  纽约皇后区
灭霸    3000   泰坦星球
奇异博士    30     费城
钢铁侠     37     纽约
蝙蝠侠     40     哥谭
索尔    1500   阿斯加德

In [43]:
user_info2 = user_info2[['城市', '年龄']]

In [44]:
user_info2

         城市    年龄
英雄姓名
蜘蛛侠   纽约皇后区    19
灭霸     泰坦星球  3000
奇异博士     费城    30
钢铁侠      纽约    37
蝙蝠侠      哥谭    40
索尔     阿斯加德  1500

问:我们构建了两个相同的DataFrame, 但是顺序有一点差别, 这是为什么呢?

成功构建了一个 DataFrame，这个 DataFrame 的索引是用户年龄，还有两列分别是用户的年龄和城市信息。

In [45]:
user_info

         城市    年龄
英雄姓名
蜘蛛侠   纽约皇后区    19
灭霸     泰坦星球  3000
奇异博士     费城    30
钢铁侠      纽约    37
蝙蝠侠      哥谭    40
索尔     阿斯加德  1500

In [46]:
user_info.loc[['蜘蛛侠', '钢铁侠'],'城市']

英雄姓名
蜘蛛侠    纽约皇后区
钢铁侠       纽约
Name: 城市, dtype: object

In [47]:
user_info.iloc[5:3:-1 ]

        城市    年龄
英雄姓名
索尔    阿斯加德  1500
蝙蝠侠     哥谭    40

In [48]:
user_info.iloc[2:5:2, [0, 1]]

      城市  年龄
英雄姓名
奇异博士  费城  30
蝙蝠侠   哥谭  40

In [49]:
user_info.loc[:, :]

         城市    年龄
英雄姓名
蜘蛛侠   纽约皇后区    19
灭霸     泰坦星球  3000
奇异博士     费城    30
钢铁侠      纽约    37
蝙蝠侠      哥谭    40
索尔     阿斯加德  1500

In [50]:
user_info.loc[['灭霸', '钢铁侠', '索尔'] , ['城市', '年龄']]

        城市    年龄
英雄姓名
灭霸    泰坦星球  3000
钢铁侠     纽约    37
索尔    阿斯加德  1500

### 进行索引和切片

可以像列表切片一样, 把每一个Series当做里面的一个元素

In [51]:
user_info

         城市    年龄
英雄姓名
蜘蛛侠   纽约皇后区    19
灭霸     泰坦星球  3000
奇异博士     费城    30
钢铁侠      纽约    37
蝙蝠侠      哥谭    40
索尔     阿斯加德  1500

In [52]:
user_info['城市']

英雄姓名
蜘蛛侠     纽约皇后区
灭霸       泰坦星球
奇异博士       费城
钢铁侠        纽约
蝙蝠侠        哥谭
索尔       阿斯加德
Name: 城市, dtype: object

In [53]:
user_info.城市

英雄姓名
蜘蛛侠     纽约皇后区
灭霸       泰坦星球
奇异博士       费城
钢铁侠        纽约
蝙蝠侠        哥谭
索尔       阿斯加德
Name: 城市, dtype: object

In [54]:
user_info.年龄

英雄姓名
蜘蛛侠       19
灭霸      3000
奇异博士      30
钢铁侠       37
蝙蝠侠       40
索尔      1500
Name: 年龄, dtype: int64

In [55]:
user_info

         城市    年龄
英雄姓名
蜘蛛侠   纽约皇后区    19
灭霸     泰坦星球  3000
奇异博士     费城    30
钢铁侠      纽约    37
蝙蝠侠      哥谭    40
索尔     阿斯加德  1500

In [56]:
user_info.get('性别', '没有这一列')

'没有这一列'

In [57]:
user_info.城市
user_info.年龄

英雄姓名
蜘蛛侠     纽约皇后区
灭霸       泰坦星球
奇异博士       费城
钢铁侠        纽约
蝙蝠侠        哥谭
索尔       阿斯加德
Name: 城市, dtype: object

英雄姓名
蜘蛛侠       19
灭霸      3000
奇异博士      30
钢铁侠       37
蝙蝠侠       40
索尔      1500
Name: 年龄, dtype: int64

请大家考虑一下同时索引 城市和年龄应该怎么写?

In [58]:
user_info[["城市", "年龄"]]

         城市    年龄
英雄姓名
蜘蛛侠   纽约皇后区    19
灭霸     泰坦星球  3000
奇异博士     费城    30
钢铁侠      纽约    37
蝙蝠侠      哥谭    40
索尔     阿斯加德  1500

可以用loc [location]的方法来进行显示索引

语法 `user_info.loc[索引行,索引列 ]`

In [59]:
user_info.loc[ ["蝙蝠侠", "灭霸"] ]

# 并没有闪电侠, 但是没有报错

        城市    年龄
英雄姓名
蝙蝠侠     哥谭    40
灭霸    泰坦星球  3000

In [60]:
user_info

         城市    年龄
英雄姓名
蜘蛛侠   纽约皇后区    19
灭霸     泰坦星球  3000
奇异博士     费城    30
钢铁侠      纽约    37
蝙蝠侠      哥谭    40
索尔     阿斯加德  1500

In [61]:
user_info.loc["蝙蝠侠", "年龄"]

40

也可以进行隐式索引 

使用 `iloc`  也就是 `index_loc`

这种方式不看你的行索引和列索引是什么名称, 只看数据是处于表中的一个什么位置.

In [62]:
user_info.iloc[0]
user_info.iloc[0::, 0::]

城市    纽约皇后区
年龄       19
Name: 蜘蛛侠, dtype: object

         城市    年龄
英雄姓名
蜘蛛侠   纽约皇后区    19
灭霸     泰坦星球  3000
奇异博士     费城    30
钢铁侠      纽约    37
蝙蝠侠      哥谭    40
索尔     阿斯加德  1500

In [63]:
user_info.iloc[1:3:2,1:2 ]

        年龄
英雄姓名
灭霸    3000

In [64]:
user_info

         城市    年龄
英雄姓名
蜘蛛侠   纽约皇后区    19
灭霸     泰坦星球  3000
奇异博士     费城    30
钢铁侠      纽约    37
蝙蝠侠      哥谭    40
索尔     阿斯加德  1500

In [65]:
user_info['性别'] = '男'

In [66]:
user_info

         城市    年龄 性别
英雄姓名
蜘蛛侠   纽约皇后区    19  男
灭霸     泰坦星球  3000  男
奇异博士     费城    30  男
钢铁侠      纽约    37  男
蝙蝠侠      哥谭    40  男
索尔     阿斯加德  1500  男

In [67]:
user_info.loc['黑寡妇'] = ['前苏联',27, '女']

In [68]:
user_info

         城市    年龄 性别
英雄姓名
蜘蛛侠   纽约皇后区    19  男
灭霸     泰坦星球  3000  男
奇异博士     费城    30  男
钢铁侠      纽约    37  男
蝙蝠侠      哥谭    40  男
索尔     阿斯加德  1500  男
黑寡妇     前苏联    27  女

### 新增/删除列

在生成了 DataFrame 之后，突然你发现好像缺失了用户的性别这个信息，如何添加呢？

如果所有的性别都一样，我们可以通过传入一个标量，Pandas 会自动帮我们广播来填充所有的位置。

In [69]:
user_info['年龄'] = '男'

In [70]:
user_info.loc['神奇女侠'] = ['岛屿', 24, '女']
user_info

         城市  年龄 性别
英雄姓名
蜘蛛侠   纽约皇后区   男  男
灭霸     泰坦星球   男  男
奇异博士     费城   男  男
钢铁侠      纽约   男  男
蝙蝠侠      哥谭   男  男
索尔     阿斯加德   男  男
黑寡妇     前苏联   男  女
神奇女侠     岛屿  24  女

In [71]:
user_info.iloc[2] = ['费城', 30, '男']
user_info

         城市  年龄 性别
英雄姓名
蜘蛛侠   纽约皇后区   男  男
灭霸     泰坦星球   男  男
奇异博士     费城  30  男
钢铁侠      纽约   男  男
蝙蝠侠      哥谭   男  男
索尔     阿斯加德   男  男
黑寡妇     前苏联   男  女
神奇女侠     岛屿  24  女

In [72]:
user_info["性别"] =  "男"
user_info

         城市  年龄 性别
英雄姓名
蜘蛛侠   纽约皇后区   男  男
灭霸     泰坦星球   男  男
奇异博士     费城  30  男
钢铁侠      纽约   男  男
蝙蝠侠      哥谭   男  男
索尔     阿斯加德   男  男
黑寡妇     前苏联   男  男
神奇女侠     岛屿  24  男

都是男的看起来新增的这列没什么意义, 为了让它有意义, 我们新增加一行数据

In [73]:
user_info.loc["黑寡妇"] = [27, "前苏联", "女"]
user_info

         城市   年龄 性别
英雄姓名
蜘蛛侠   纽约皇后区    男  男
灭霸     泰坦星球    男  男
奇异博士     费城   30  男
钢铁侠      纽约    男  男
蝙蝠侠      哥谭    男  男
索尔     阿斯加德    男  男
黑寡妇      27  前苏联  女
神奇女侠     岛屿   24  男

In [74]:
user_info.loc[["灭霸", "索尔"], ["年龄", "城市"]]

     年龄    城市
英雄姓名
灭霸    男  泰坦星球
索尔    男  阿斯加德

In [75]:
np.__version__

'1.14.0'

In [76]:
pd.__version__

'0.22.0'

In [77]:
user_info.drop()

ValueError: Need to specify at least one of 'labels', 'index' or 'columns'

In [ ]:
user_info.pop("性别")

In [ ]:
user_info

#### 删除某一列

In [ ]:
user_info.pop("性别")

In [ ]:
user_info

#### 添加一列

In [ ]:
# 再把它添加会去
user_info["性别"] = ["男", "男", "男", "男", "男", "男", "女"]
user_info

通过上面的例子可以看出，我们创建新的列的时候都是在原有的 DataFrame 上修改的，也就是说如果添加了新的一列之后，原有的 DataFrame 会发生改变。

如果想要保证原有的 DataFrame 不改变的话，我们可以通过 assign 方法来创建新的一列。

### 查看基本信息

一般拿到数据，我们第一步需要做的是了解下数据的整体情况，可以使用 info 方法来查看。

In [ ]:
user_info.info()

### 查看前几条信息

如果我们的数据量非常大，我想看看数据长啥样，我当然不希望查看所有的数据了，这时候我们可以采用只看头部的 n 条或者尾部的 n 条。

查看头部的n 条数据可以使用 head 方法，查看尾部的 n 条数据可以使用 tail 方法。

In [ ]:
user_info.head(3)

In [ ]:
user_info.tail(1)

### 查看数据形状

此外，Pandas 中的数据结构都有 ndarray 中的常用方法和属性，如通过 .shape 获取数据的形状，通过 .T 获取数据的转置。

In [ ]:
user_info.shape

### 转置

In [ ]:
user_info.T

### 获取数据原有信息

如果我们想要通过 DataFrame 来获取它包含的原有数据，可以通过 .values 来获取，获取后的数据类型其实是一个 ndarray。

In [ ]:
user_info.values

In [ ]:
type(user_info.values)

In [ ]:
user_info.to_csv('hero_info_2.csv')

## 将数据保存到本地磁盘

In [ ]:
user_info.to_csv('hero_info_class.csv')

In [ ]:
user_info.to_

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# 加一个r , 把字符串当做原生字符串进行解读
df = pd.read_csv(r'C:\Users\Administrator\Desktop\hero_info_class.csv')
df

In [ ]:
df.to_csv(r'C:\Users\Administrator\Desktop\hero_info_new.csv', sep='\t')

In [ ]:
df.to_excel(r'C:\Users\Administrator\Desktop\hero_info.xlsx', sheet_name='英雄信息')

In [ ]:
pd.read_excel(r'C:\Users\Administrator\Desktop\hero_info.xlsx', sheet_name='Sheet2')

In [ ]:
df.to_html(r'C:\Users\Administrator\Desktop\hero_info.html')

In [ ]:
class_32 = pd.read_excel(r'H:\FangCloudV2\个人文件\大数据资料同步公司端\CDA工作文件夹\课程课表\负责人听课-新版.xlsx', 
              sheet_name='32期',header=1)

In [ ]:
class_32